.notes__container {
  width: 100%;
}

.note {
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  margin-bottom: 24px;
  padding: 24px;
  color: #424242;
}

.note__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.note__author {
  display: flex;
  align-items: center;
}

.note__avatar {
  display: flex;
  align-items: center;
}

.note__avatar img {
  height: 28px;
  width: 28px;
  margin-right: 16px;
}

.note__avatar span {
  margin-right: 20px;
  font-weight: 500;
}

.note__header span {
  font-weight: 300;
  font-size: 14px;
  color: #C4C5C5;
}

.note__header button {
  margin-right: 8px;
  cursor: pointer;
}

.note__header button:last-child {
  margin-right: 0;
}
