body {
  background-color: #F2F2F2;
}

button {
  background-color: transparent;
  border: none;
}

* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

.container {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

h1 {
  letter-spacing: 12px;
  font-size: 20px;
  color: #424242;
}

.form {
   position: relative;
   overflow: hidden;
   width: 100%;
   box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}

textarea {
    width: 100%;
    min-height: 170px;
    border: 0px;
    letter-spacing: 1px;
    padding: 24px;
    font-size: 16px;
    color: #484a4c;
    display: block;
    appearance: none;
    box-sizing: border-box;
    resize: none;
}

textarea::placeholder {
    opacity: .3;
}

.button {
    position: absolute;
    bottom: 24px;
    right: 24px;
    border: none;
    font-size: 16px;
    letter-spacing: 1px;
    color: white;
    background-color: #EAEAEA;
    padding: 10px 36px;
}

.button--active {
  background-color: #4990E2;
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
  font-size: 16px;
  color: #c6c6c6;
  letter-spacing: 2px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  line-height: 10px;
  position: relative;
}

.middle:before,
.middle:after {
  content: '';
  height: 1px;
  top: 5px;
  background-color: #c6c6c6;
  opacity: .5;
  position: absolute;
  width: 42%;
}

.middle:before {
  left: 0;
}

.middle:after {
  right: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.account {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.account-dropdown {
  background-color: white;
  padding: 2px;
  position: absolute;
  top: 40px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  z-index: 1;
  cursor: pointer;
}

.account-dropdown button {
  padding: 10px;
  cursor: pointer;
  width: 100%;
  font-weight: 500;
  text-align: left;
}

.account-dropdown button:hover {
  background-color: rgba(0,0,0,.03);
}

.avatar {
  display: flex;
  align-items: center;
}

.avatar img {
  height: 32px;
  width: 32px;
  margin-right: 10px;
}

.avatar span {
  font-size: 14px;
  opacity: .3;
  font-weight: 500;
  margin-right: 8px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #666;
  color: #424242;
  opacity: .3;
}
